.message {
  margin-bottom: 16px;

  &-system {
    max-width: 50%;
    margin: 10px auto;
    text-align: center;

    .content {
      display: inline-block;
      padding: 1px 18px;
      font-size: 12px;
      color: #b2b2b2;
    }
  }

  .content {
    overflow: hidden;
  }

  &-content {
    display: flex;

    &.right {
      flex-direction: row-reverse;
    }

    img {
      max-width: 350px;
      max-height: 240px;
      cursor: pointer;
    }
  }
}
